{erl_opts, [debug_info]}.

{pre_hooks,  [{compile, "make -C c_src"}]}.
{post_hooks, [{clean,   "make -C c_src clean"}]}.

{plugins, [rebar3_hex, {rebar3_ex_doc, "0.2.12"}]}.

{eunit, [verbose]}.

{ex_doc, [
    {extras, [
      {"README.md", #{title => "Overview"}},
      {"LICENSE",   #{title => "License"}}
    ]},
    {main,          "README.md"},
    {source_url,    "https://github.com/saleyn/egit"}
]}.

% Hex.pm package metadata
{hex, [
  {doc, ex_doc},
  {description, "Erlang NIF interface to the git library"},
  {licenses,    ["Apache-2.0"]},
  {maintainers, ["Serge Aleynikov"]},
  {keywords,    ["erlang", "git", "egit", "source control", "version control"]},
  {links, #{
    "GitHub" => "https://github.com/saleyn/egit",
    "egit"   => "https://github.com/saleyn/egit"
  }},
  {files, [
    "src",
    "c_src",
    "priv",
    "rebar.config",
    "rebar.lock",
    "README.md",
    "LICENSE",
    "Makefile"
  ]}
]}.
