{erl_opts, [debug_info]}.

{pre_hooks,  [{compile, "make -C c_src"}]}.
{post_hooks, [{clean,   "make -C c_src clean"}]}.

{hex, [{doc, ex_doc}]}.

{plugins, [rebar3_hex, rebar3_ex_doc]}.

{ex_doc, [
    {extras, [
      {"README.md", #{title => "Overview"}},
      {"LICENSE",   #{title => "License"}}
    ]},
    {main,          "README.md"},
    {source_url,    "https://github.com/saleyn/egit"}
]}.


